@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

body.main {
    background: linear-gradient(-45deg, indigo, rgb(76, 0, 255));
}

p.title {
    letter-spacing: -8.5;
    margin-top: 20vh;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 800%;
    line-height: 100%;
    font-family: 'Rubik', sans-serif;
}

p.desc {
    bottom: 100px;
    letter-spacing: 0.5;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 300%;
    font-family: 'Rubik', sans-serif;
    position:relative;
}

button.discord {
    position: absolute;
    left: 50%;
    bottom: 100;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1;
    text-align: center;
    width: 9em;
    color: white;
    height: 6rem;
    font-size: 3vw;
    font-family: 'Rubik', sans-serif;
    background-color:darkslateblue;
    border-radius: 2rem;
    border: 0.3rem solid white;
    position:relative;
    cursor: pointer;
  }

.discord_a {
    text-decoration: none;
    color: white;
}
  

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: indigo;
}

footer p {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Rubik';
}
  
footer p a.idk {
    color:lightskyblue;
}

img.logo {
    width: 5rem;
    position: absolute;
    top: 0;
    left: calc(50% - 5rem / 2);
    background-color: indigo;
}

img.discord_svg {
    position: absolute;
    display: inline;
    width: 2%;
}

header.header {
    display: inline;
    background-color: indigo;
    right:0;
    width: 100%;
    position:absolute;
    top: 0;
    text-align: left;
    left: 0px;
    margin-bottom: 10%;
    color: white;
    font: 400;
    font-family: 'Rubik';
    font-size: 1.5rem;
}

.headertext {
    display: inline;
    top: 69%;
    margin: 3.25%;
}

.dc {
    margin: 1%;
    text-decoration: none;
}